<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Relationship</th>
            <th>Status</th>
            <th>Note</th>
    </thead>
    <tbody>
        <tr ng-click="goDep(1)">
            <td>Savannah D Tester</td>
            <td>Spouse</td>
            <td>New</td>
            <td>
                <!--<button class="btn ar-btn-outline ar-btn-primary">Info</button>
                <button class="btn ar-btn-outline ar-btn-primary">Documents</button>
                <button class="btn ar-btn-outline ar-btn-warning">Drop</button>-->
            </td>
        </tr>
        <tr ng-click="goDep(2)">
            <td>Jabba Z Tester</td>
            <td>Child</td>
            <td class="reject">Reject</td>
            <td>
                Reason of rejection  Reason of rejection
                <!--<button class="btn ar-btn-outline ar-btn-primary">Info</button>
                <button class="btn ar-btn-outline ar-btn-primary">Documents</button>
                <button class="btn ar-btn-outline ar-btn-warning">Drop</button>-->
            </td>
        </tr>
        <tr ng-click="goDep(3)">
            <td>Stewie Z Tester</td>
            <td>Child</td>
            <td>New</td>
            <td>
                <!--<button class="btn ar-btn-outline ar-btn-primary">Info</button>
                <button class="btn ar-btn-outline ar-btn-primary">Documents</button>
                <button class="btn ar-btn-outline ar-btn-warning">Drop</button>-->
            </td>
        </tr>
        <tr ng-click="goDep(3)">
            <td>Chrish Z Tester</td>
            <td>Child</td>
            <td>New</td>
            <td>
                <!--<button class="btn ar-btn-outline ar-btn-primary">Info</button>
                <button class="btn ar-btn-outline ar-btn-primary">Documents</button>
                <button class="btn ar-btn-outline ar-btn-warning">Drop</button>-->
            </td>
        </tr>
    </tbody>
</table>