<div class="panel panel-default">
    <div class="panel-body">
        <uib-tabset active="active">
            <uib-tab index="'new'" heading="Pending Verification (4)" select="goTab('new')">
                <div class="ar-tab-content" ui-view="depList">
                </div>
            </uib-tab>

            <uib-tab index="'pending'" heading="Pending Review ({{pending}})" select="goTab('pending')">
                <div class="ar-tab-content">
                    <p>
                        According to our records, information has been provided on the dependents listed below.
                        The documents are being reviewed at this time and their status will be updated within 1 to 2 business days.
                        Please check back to confirm the final status.
                    </p>
                    <div class="row">
                        <div class="col-sm-5">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge pending">Pending</span>
                                    Jackie D Tester
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="'approved'" heading="Audit Complete (2)" select="goTab('approved')">
                <div class="ar-tab-content">
                    <p>
                        According to our records, the audit is complete for the dependents listed below.
                        A confirmation of the final status is indicated underneath the dependent name/relationship.
                        If you have any questions regarding the final status, please contact the Benefit Service Center at (123)456-7890
                    </p>
                    <div class="row">
                        <div class="col-sm-5">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge approved">Approved</span>
                                    Johnathan D Tester
                                </li>
                                <li class="list-group-item">
                                    <span class="badge approved">Approved</span>
                                    Jimmy D Tester
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab index="'resource'" heading="Helpful Resource" select="goTab('resource')">
                <div class="ar-tab-content">
                    <p>
                        Below is a library of resources for some of the more common documents you may be asked to provide during the dependent verification process.
                        Please note, these links will open a third party website in a separate browser window.
                        To return to this site, please close the secondary browser window.
                    </p>

                    <div class="row">
                        <div class="col-sm-2">
                            <ui-select ng-model="selected.value">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div><br />

                    <p>
                        Social Security Cards - Order New or a Replacement:<br />
                        http://www.ssa.gov/ssnumber/
                    </p>

                    <p>
                        Tax Return - Order a copy:<br />
                        http://www.irs.gov/individuals/get-transcript
                    </p>
                </div>
            </uib-tab>

            <uib-tab index="'contact'" heading="Contact Us" select="goTab('contact')">
                <div class="ar-tab-content">
                    <p>
                        If you have any questions or need assistance during the dependent verification process,
                        please contact the Benefit Service Center:
                    </p>

                    <p>
                        Toll-Free 1-800-999-9999<br />
                        8AM TO 5PM<br />
                        MONDAY - FRIDAY<br />
                    </p>

                    <p>
                        Email: benefits@verisource.com<br />
                        On-Line Chat (accessible in lower right hand corner of browser window.)<br />
                        8AM TO 5PM<br />
                        MONDAY - FRIDAY<br />
                    </p>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>