<div class="panel panel-default">
    <div class="panel-body">
        <uib-tabset active="active">
            <uib-tab index="0" heading="New">
                <div>
                    New Content
                </div>
            </uib-tab>
            <uib-tab tabindex="1" heading="Pending">
                <div>
                    Pending review content
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Approved">
                <div>
                    Approved
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>